<html>
<body>
<h1>MC Snapshot server map manager</h1>
<hr>
<h2>Download</h2>
 <a href="/download">Download</a>
<hr>
<h2>Upload</h2>
 <pre>
 NOTE: the zip file must have the same layout as the downloaded one.
 </pre>
<form action="/upload" method="post" enctype="multipart/form-data">
  Select a file: <input type="file" name="upload" />
  <input type="submit" value="Start upload" />
</form>
</body>
</html>